[package]
name = "global_allocator"
version = "0.1.0"
edition = "2021"

[target.'cfg(not(target_os = "linux"))'.dependencies]
mimalloc = { version = "0.1" }

[target.'cfg(target_os = "linux")'.dependencies]
tikv-jemallocator = {version = "0.6", features = ["disable_initial_exec_tls"]}